# https://github.com/gabibdods/NewRepositoryTemplate:
*

!.gitattributes
!.gitignore
!.gitlab-ci.yml
!README.md

!.gitlab/
!.gitlab/sast-ruleset.toml

!License/
!License/LICENSE.md
!License/NOTICE.md


# particular repository ignores:

!dante/
!dante/veilscade.alone.dante
!dante/veilscade.dante
!dante/veilscade.dante.ex

!fail2ban/
!fail2ban/veilscade.fail2ban
!fail2ban/veilscade.fail2ban.ex

!gai/
!gai/veilscade.gai.ex

!redsocks/
!redsocks/veilscade.redsocks
!redsocks/veilscade.redsocks.ex

!shadowsocks/
!shadowsocks/veilscade.config.shadowsocks
!shadowsocks/veilscade.local.shadowsocks
!shadowsocks/veilscade.shadowsocks.ex

!squid/
!squid/veilscade.squid
!squid/veilscade.squid.ex
